<!DOCTYPE html>
<html lang="en">
   
<%- include('./partials/head.ejs') %>

<body id="htmlbody">
    <div class="container">
        <div class="inner-container">

          <%- include('./partials/header.ejs') %>

          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="search" id="find" onkeyup="search()">
          </div>
          <div class="notes">
            
            <%if(notes.length > 0){%>
                <%notes.forEach(note => { %>
                  
                      
                        <div class="note">
                          
                            <h3 class="title" style="font-size: 23px;"><a style="text-decoration: none; color: black;" href="/<%=note._id%>"><%= note.title %></a></h3>
                            <p class="snippet" style="font-size: 19px;"><a style="text-decoration: none; color: black;" href="/<%=note._id%>"><%= note.snippet %></a></p>
                            <div class="meta">
                                <p class="date" style="font-size: 14px; font-family: 'Poppins';"><%= note.createdAt.toDateString(); %></p>
                                <i class="fa-solid fa-trash-can"></i>
                            </div>
                          
                            </div>
                          
  
                    
                <%})%>
            <%}%>
                
                </div>
        
          </div>
          <a href="/create" class="newNote"><i class="fa-solid fa-pen"><span>Note</span></i></a>
        </div>

        <%- include('./partials/footer.ejs') %>

        <script type="text/javascript">
          function search() {
          let filter = document.getElementById('find').value.toUpperCase();
          let item = document.querySelectorAll('.note');
          let l = document.getElementsByTagName('h3');
          for(var i = 0;i<=l.length;i++){
          let a=item[i].getElementsByTagName('h3')[0];
          let value=a.innerHTML || a.innerText || a.textContent;
          if(value.toUpperCase().indexOf(filter) > -1) {
          item[i].style.display="";
          }
          else
          {
          item[i].style.display="none";
          
          }
          }
          }

          function darkMode(){
            if(document.getElementById("htmlbody").classList.contains('htmlbody2')){
            document.getElementById("htmlbody").classList.remove('htmlbody2'); 
            document.getElementById("htmlbody").classList.add('htmlbody1'); 
        }else{
        document.getElementById("htmlbody").classList.remove('htmlbody1');  
        document.getElementById("htmlbody").classList.add('htmlbody2');
            
          }

          if(document.getElementById("txt").classList.contains('txt2')){
            document.getElementById("txt").classList.remove('txt2'); 
            document.getElementById("txt").classList.add('txt1'); 
        }else{
        document.getElementById("txt").classList.remove('txt1');  
        document.getElementById("txt").classList.add('txt2');
            
          }
        }
          </script>


</body>
</html>