<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Custom css -->
    <link rel="stylesheet" href="/styles.css">

    <title>Notes | <%=title%></title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
          <div class="header">
            <h1>Notes</h1>
            <a href="" class="darkMode">Dark mode</a>
          </div>
          <div class="search">
            <input type="text" name="search" id="find" onkeyup="search()">
          </div>
          <div class="notes">
            
            <%if(notes.length > 0){%>
                <%notes.forEach(note => { %>
                    <a href="/<%=note._id%>">
                        <div class="note">
                            <h3 class="title" style="text-decoration: none; font-size: 23px;"><a href="/<%=note._id%>"><%= note.title %></a></h3>
                            <p class="snippet" style="font-size: 19px;"><%= note.snippet %></p>
                            <div class="meta">
                                <p class="date" style="font-size: 14px;"><%= note.createdAt.toDateString(); %></p>
                                <i class="fa-solid fa-trash-can"></i>
                            </div>
                            </div>
                    </a>
                    
                <%})%>
            <%}%>
                
                </div>
        
          </div>
          <a href="/create" class="newNote">New note</a>
        </div>

        <script type="text/javascript">
          function search() {
          let filter = document.getElementById('find').value.toUpperCase();
          let item = document.querySelectorAll('.note');
          let l = document.getElementsByTagName('h3');
          for(var i = 0;i<=l.length;i++){
          let a=item[i].getElementsByTagName('h3')[0];
          let value=a.innerHTML || a.innerText || a.textContent;
          if(value.toUpperCase().indexOf(filter) > -1) {
          item[i].style.display="";
          }
          else
          {
          item[i].style.display="none";
          
          }
          }
          }
          </script>


</body>
</html>